TD {
  font-family: Raleway;
  font-size: 12pt;
}

.defined> {
  color: darkgray;
}

.created {
  background-color: lemonchiffon;
  color: blue;
}

.valid {
  color: green;
}
.copied {
  color: black;
}
.archived {
  color: black;
}
.secured {
  color: black;
}
.removed {
  color: darkgray;
}
.invalid,.error,.aborted {
  color: red;
}
.ingesting {
 color: green;
 font-weight: bold;
}

p.title {
	font-family: Raleway;
	font-size: 18pt;
}

