{% extends 'taskdatabase/base.html' %}
{% load static %}
{% block myBlock %}

<div class="container-fluid details-container">
    <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        {% if latest_observations_list %}
        <div class="panel panel-success">
            <div class="panel-heading">Latest 50 Tasks</div>

            <div class="panel-body">

                <table class="table table-striped table-bordered table-sm">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>TaskID</th>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Timestamp</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for observation in latest_observations_list %}
                    {% if observation.my_status != "removed" %}

                    <div class="row">
                        <tr class="{{ observation.my_status }}">
                            <td>{{ observation.id }} </td>
                            <td><a href="/atdb/observations/{{ observation.id }}/" target="_blank">{{ observation.taskID }} </a> </td>
                            <td>{{ observation.process_type }} </td>
                            <td>{{ observation.name }} </td>
                            <td>{{ observation.creationTime }} </td>
                            <td>{{ observation.my_status }}</td>
                            <td>
                                {% if observation.my_status != "valid" and observation.my_status != "ingesting" %}
                                <a href="{% url 'observation-dps-setstatus-view' observation.pk 'valid'%}" class="btn btn-warning btn-sm" role="button">Validate DPS</a>
                                <a href="{% url 'observation-validate-view' observation.pk %}" class="btn btn-warning btn-sm" role="button">Validate & Ingest</a>
                                {% endif %}
                            </td>
                        </tr>
                    </div>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No recent Observations.</p>
                {% endif %}

            </div>
        </div>

        {% if latest_dataproducts_list %}
        <div class="panel panel-success">
            <div class="panel-heading">Latest 50 Dataproducts</div>

            <div class="panel-body">
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>TaskID</th>
                        <th>Name</th>
                        <th>Timestamp</th>
                        <th>Status</th>
                        <th>Actions</th>
                     </tr>
                    </thead>
                    <tbody>
                        {% for dataproduct in latest_dataproducts_list %}
                            {% if dataproduct.my_status != "removed" %}

                                <div class="row">
                                   <tr class="{{ dataproduct.my_status }}">
                                       <td>{{ dataproduct.id }} </td>
                                       <td><a href="/atdb/dataproducts/{{ dataproduct.id }}/" target="_blank">{{ dataproduct.taskID }}</a> </td>
                                       <td>{{ dataproduct.name }} </td>
                                       <td>{{ dataproduct.creationTime }} </td>
                                       <td>{{ dataproduct.my_status }}</td>
                                       <td>
                                            {% if dataproduct.my_status == "created" or dataproduct.my_status == "invalid" %}
                                            <a href="{% url 'dataproduct-setstatus-view' dataproduct.pk 'valid'%}" class="btn btn-warning btn-sm" role="button">Validate</a>
                                            {% endif %}
                                            {% if dataproduct.my_status == "created" or dataproduct.my_status == "valid" %}
                                            <a href="{% url 'dataproduct-setstatus-view' dataproduct.pk 'invalid' %}" class="btn btn-success btn-sm" role="button">Invalidate</a>
                                            {% endif %}
                                       </td>
                                    </tr>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No recent dataproducts.</p>
            {% endif %}
            </div>
        </div>
    </div>
    </div>
</div>
    <p class="footer"> Version 1.0 (18 aug 2018)</p>

{% endblock %}